<script>
    import Sub from './Sub.svelte';
	import Doms from './Doms.svelte';
	import Tweens from './Tweens.svelte';
	import Spring from './Spring.svelte';
	import Boxes from './Boxes.svelte';
	export let name;

	function handle() {
		name += "!";
	}

    $: doubled = name + "+2";
	$: quadrupled = name + "*2";

	let input = '';

</script>

<style>
	h1 {
		color: purple;
	}
</style>

<h1>Hello {name}!</h1>

<input bind:value={input} placeholder="enter your name">
<p>Hello {input || 'stranger'}!</p>

<button on:click={handle}>click</button>
<p>{quadrupled}</p>
<!-- <Doms/> -->
<!-- <Sub/> -->
<!-- <Tweens/> -->
<!-- <Spring/> -->


<Boxes/>